.footer {
    width: 100%;
    min-height: 5rem;
    height: 10%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
  }
  
  .footer-copyright {
    margin: 0 auto;
    font-size: 10pt;
    color: #f2be47;
    text-align: center;
  }