.system1-container {
  width: 100%;
  /* height: 100%; */
  background-color: #4096c8;
}

.system1-banner {
  width: 100%;
  height: 10rem;
  /* background-color: red; */
  font-size: 48pt;
  color: #fff;
  text-align: center;
  line-height: 10rem;
}

.system1-post-row-lines {
  width: 100%;
  /* height: 100%; */
  /* background-color: #111; */
  margin-top: 3rem;
}

.system1-post-row-line {
  border: none;
  border-top: 2px solid #fff;
}

.system1-artical-row {
  width: 55%;
  height: 15%;
  padding-bottom: 1rem;
  /* background-color: blueviolet; */
  margin: 0 auto;
}

.system1-artical-row-row {
  width: 90%;
  height: 90%;
  /* background-color: aqua; */
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 2rem;
}

.system1-artical-row-thumb {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  margin-left: 2rem;
}

.system1-artical-row-thumb img {
  width: 100%;
}

.system1-artical-row-simple {
  /* background-color: blue; */
  margin-left: 1rem;
}

.system1-artical-row-simple-a {
  text-decoration: none;
}

.system1-artical-row-simple-title {
  color: #fff;
  font-size: 16pt;
}

.system1-artical-row-simple-author {
  color: #fff;
  font-size: 12pt;
  display: flex;
  margin-top: 1rem;
}

.system1-post-container {
  width: 100%;
  /* height: 100%; */
  background-color: #4096c8;
  color: #fff;
}

.system1-post-atricle {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.system1-post-atricle img {
  max-width: 50% !important; 
}

.system1-post-atricle-title {
  width: 100%;
  text-align: center;
  /* background-color: aliceblue; */
  font-size: 22pt;
}

.system1-footer {
  width: 100%;
  height: 10rem;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  background-color: #4096c8;
}

.system1-footer-copyright {
  margin: 0 auto;
  font-size: 10pt;
  color: #ccc;
  text-align: center;
}